Origination/cdeServices/EDI263/X12_4010_263_schema_segments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:x12="http://www.informatica.com/B2B/X12" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.informatica.com/B2B/X12" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:complexType name="delimiters_Schema">
		<xs:sequence>
			<xs:element name="field_separator" type="xs:string"/>
			<xs:element name="segment_separator" type="xs:string"/>
			<xs:element name="composite_separator" type="xs:string"/>
			<xs:element name="segment_separator_suffix" type="xs:string"/>
			<xs:element name="repetition_separator" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	<xs:attribute name="SegErrorCd" use="optional"/>
	</xs:complexType>
	<xs:element name="delimiters" type="x12:delimiters_Schema"/>
	<xs:complexType name="ISA_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R07" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R08" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R09" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R10" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R11" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R12" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R13" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R14" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R15" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R16" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="ISA" type="x12:ISA_Schema"/>
	<xs:complexType name="GS_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R07" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R08" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="GS" type="x12:GS_Schema"/>
	<xs:complexType name="GE_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="GE" type="x12:GE_Schema"/>
	<xs:complexType name="IEA_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="IEA" type="x12:IEA_Schema"/>
	<xs:complexType name="ST_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="ST" type="x12:ST_Schema"/>
	<xs:complexType name="BGN_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R07" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R08" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R09" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="BGN" type="x12:BGN_Schema"/>
	<xs:complexType name="N1_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="N1" type="x12:N1_Schema"/>
	<xs:complexType name="LX_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="LX" type="x12:LX_Schema"/>
	<xs:complexType name="REF_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:C040_Schema" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="REF" type="x12:REF_Schema"/>
	<xs:complexType name="MIR_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R07" type="x12:C001_Schema" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R08" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R09" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R10" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R11" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R12" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="MIR" type="x12:MIR_Schema"/>
	<xs:complexType name="TXI_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R07" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R08" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R09" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R10" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="TXI" type="x12:TXI_Schema"/>
	<xs:complexType name="N9_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R07" type="x12:C040_Schema" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="N9" type="x12:N9_Schema"/>
	<xs:complexType name="G63_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="G63" type="x12:G63_Schema"/>
	<xs:complexType name="PCT_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="PCT" type="x12:PCT_Schema"/>
	<xs:complexType name="SE_Schema">
		<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="segErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="SE" type="x12:SE_Schema"/>
<xs:complexType name="C040_Schema">
	<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="compErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="C040" type="x12:C040_Schema"/>
<xs:complexType name="C001_Schema">
	<xs:sequence>
			<xs:element name="R01" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R02" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R03" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R04" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R05" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R06" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R07" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R08" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R09" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R10" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R11" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R12" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R13" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R14" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="R15" type="x12:dataElement_StringType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="compErrorCd" use="optional"/>
		</xs:complexType>
	<xs:element name="C001" type="x12:C001_Schema"/>
	<xs:complexType name="dataElement_StringType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="errorCd" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>