Origination/xsd/MISMO2.1.1/MI_Application_Response_v2_1_1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2013 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.radian.biz/ClientConnectivity/zion/MISMOSchemas/MISMOv2.1.1/MortgageInsuranceApplicationResponse" targetNamespace="http://www.radian.biz/ClientConnectivity/zion/MISMOSchemas/MISMOv2.1.1/MortgageInsuranceApplicationResponse" elementFormDefault="qualified">
	<xs:complexType name="MI_RESPONSE">
		<xs:sequence>
			<xs:element ref="MI_RENEWAL_PREMIUM" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="MI_PREMIUM_TAX" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="BORROWER"/>
			<xs:element ref="CONTACT_DETAIL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="KEY" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="LenderCaseIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="MI_LTVPercent" type="xs:anySimpleType"/>
		<xs:attribute name="MIApplicationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Standard"/>
					<xs:enumeration value="Delegated"/>
					<xs:enumeration value="RateQuote"/>
					<xs:enumeration value="Prequalification"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MICertificateExpirationDate" type="xs:anySimpleType"/>
		<xs:attribute name="MIRateQuoteExpirationDate" type="xs:anySimpleType"/>
		<xs:attribute name="MICertificateIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="MICertificateType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Primary"/>
					<xs:enumeration value="NoCoverage"/>
					<xs:enumeration value="Pool"/>
					<xs:enumeration value="BothPrimaryAndPool"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MICommentDescription" type="xs:anySimpleType"/>
		<xs:attribute name="MICompanyName" type="xs:anySimpleType"/>
		<xs:attribute name="MICoveragePercent" type="xs:anySimpleType"/>
		<xs:attribute name="MIDecisionType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Declined"/>
					<xs:enumeration value="Approved"/>
					<xs:enumeration value="ApprovedAfterReevaluation"/>
					<xs:enumeration value="Suspended"/>
					<xs:enumeration value="ConditionedApproval"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIDurationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="PeriodicMonthly"/>
					<xs:enumeration value="SingleSpecific"/>
					<xs:enumeration value="SingleLifeOfLoan"/>
					<xs:enumeration value="Annual"/>
					<xs:enumeration value="NotApplicable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIInitialPremiumAmount" type="xs:anySimpleType"/>
		<xs:attribute name="MIInitialPremiumPrepaidAtClosingType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Deferred"/>
					<xs:enumeration value="Prepaid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIInitialPremiumRateDurationMonths" type="xs:anySimpleType"/>
		<xs:attribute name="MIInitialPremiumRatePercent" type="xs:anySimpleType"/>
		<xs:attribute name="MILenderIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="MIPremiumFromClosingAmount" type="xs:anySimpleType"/>
		<xs:attribute name="MIPremiumPaymentType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="LenderPaid"/>
					<xs:enumeration value="BorrowerPaid"/>
					<xs:enumeration value="BothBorrowerAndLenderPaid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIPremiumRatePlanType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ModifiedFrontLoaded"/>
					<xs:enumeration value="Level"/>
					<xs:enumeration value="StandardFrontLoaded"/>
					<xs:enumeration value="BackLoaded"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIRenewalCalculationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Constant"/>
					<xs:enumeration value="NotApplicable"/>
					<xs:enumeration value="Declining"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MITransactionIdentifier" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="MI_RESPONSE" type="MI_RESPONSE"/>
	<xs:complexType name="MI_RENEWAL_PREMIUM">
		<xs:attribute name="_Sequence">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Fourth"/>
					<xs:enumeration value="Third"/>
					<xs:enumeration value="First"/>
					<xs:enumeration value="Fifth"/>
					<xs:enumeration value="Second"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_Rate" type="xs:anySimpleType"/>
		<xs:attribute name="_RateDurationMonths" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="MI_RENEWAL_PREMIUM" type="MI_RENEWAL_PREMIUM"/>
	<xs:complexType name="MI_PREMIUM_TAX">
		<xs:attribute name="_CodeType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="County"/>
					<xs:enumeration value="AllTaxes"/>
					<xs:enumeration value="State"/>
					<xs:enumeration value="Municipal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_CodePercent" type="xs:anySimpleType"/>
		<xs:attribute name="_CodeAmount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="MI_PREMIUM_TAX" type="MI_PREMIUM_TAX"/>
	<xs:complexType name="BORROWER">
		<xs:attribute name="BorrowerID" type="xs:ID"/>
		<xs:attribute name="_FirstName" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="_MiddleName" type="xs:anySimpleType"/>
		<xs:attribute name="_LastName" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="_PrintPositionType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Borrower"/>
					<xs:enumeration value="CoBorrower"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_SSN" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="BORROWER" type="BORROWER"/>
	<xs:complexType name="CONTACT_DETAIL">
		<xs:sequence>
			<xs:element ref="CONTACT_POINT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CONTACT_DETAIL" type="CONTACT_DETAIL"/>
	<xs:complexType name="CONTACT_POINT">
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Fax"/>
					<xs:enumeration value="Email"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Phone"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_TypeOtherDescription" type="xs:anySimpleType"/>
		<xs:attribute name="_Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CONTACT_POINT" type="CONTACT_POINT"/>
	<xs:complexType name="KEY">
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
		<xs:attribute name="_Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="KEY" type="KEY"/>
</xs:schema>
