Origination/xsd/MISMO2.1.1/MI_Application_Request_v2_1_1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2013 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.radian.biz/ClientConnectivity/zion/MISMOSchemas/MISMOv2.1.1/MortgageInsuranceApplicationRequest" targetNamespace="http://www.radian.biz/ClientConnectivity/zion/MISMOSchemas/MISMOv2.1.1/MortgageInsuranceApplicationRequest" elementFormDefault="qualified">
	<xs:complexType name="MI_APPLICATION">
		<xs:sequence>
			<xs:element ref="MI_REQUEST"/>
			<xs:element ref="REQUESTING_PARTY"/>
			<xs:element ref="SUBMITTING_PARTY" minOccurs="0"/>
			<xs:element ref="CREDIT_SCORE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="KEY" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="LOAN_APPLICATION"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MI_APPLICATION" type="MI_APPLICATION"/>
	<xs:complexType name="MI_REQUEST">
		<xs:sequence>
			<xs:element ref="THIRD_PARTY_ORIGINATOR" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="MIApplicationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Standard"/>
					<xs:enumeration value="Delegated"/>
					<xs:enumeration value="RateQuote"/>
					<xs:enumeration value="Prequalification"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MICaptiveReinsuranceIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MICertificateIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="MICertificateType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Primary"/>
					<xs:enumeration value="Pool"/>
					<xs:enumeration value="NoCoverage"/>
					<xs:enumeration value="BothPrimaryAndPool"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MICompanyName" type="xs:anySimpleType"/>
		<xs:attribute name="MICoveragePlanType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="StandardPrimary"/>
					<xs:enumeration value="SecondLayer"/>
					<xs:enumeration value="Pool"/>
					<xs:enumeration value="RiskSharing"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MILoanLevelCreditScoreValue" type="xs:anySimpleType"/>
		<xs:attribute name="MIDurationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="PeriodicMonthly"/>
					<xs:enumeration value="SingleSpecific"/>
					<xs:enumeration value="SingleLifeOfLoan"/>
					<xs:enumeration value="Annual"/>
					<xs:enumeration value="NotApplicable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIEmployeeLoanIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIInitialPremiumAtClosingType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Deferred"/>
					<xs:enumeration value="Prepaid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MILenderIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="MILenderSpecialProgramType" type="xs:anySimpleType"/>
		<xs:attribute name="MIPremiumFinancedIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIPremiumPaymentType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="LenderPaid"/>
					<xs:enumeration value="BorrowerPaid"/>
					<xs:enumeration value="BothBorrowerAndLenderPaid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIPremiumRatePlanType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ModifiedFrontLoaded"/>
					<xs:enumeration value="StandardFrontLoaded"/>
					<xs:enumeration value="Level"/>
					<xs:enumeration value="BackLoaded"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIPremiumRefundableType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="NotRefundable"/>
					<xs:enumeration value="RefundableWithLimits"/>
					<xs:enumeration value="Refundable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIPremiumTermMonths" type="xs:anySimpleType"/>
		<xs:attribute name="MIReducedLoanDocumentationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="StatedIncomeWithIRSForm4506"/>
					<xs:enumeration value="NoIncomeNoRatio"/>
					<xs:enumeration value="StatedAssets"/>
					<xs:enumeration value="StatedIncomeWithoutIRSForm4506"/>
					<xs:enumeration value="NoIncomeNoAsset"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIRelocationLoanIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIRenewalCalculationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Constant"/>
					<xs:enumeration value="NoRenewals"/>
					<xs:enumeration value="NotApplicable"/>
					<xs:enumeration value="Declining"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MIRequestType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Resubmission"/>
					<xs:enumeration value="OriginalRequest"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MISpecialPricingType" type="xs:anySimpleType"/>
		<xs:attribute name="MISubPrimeProgramType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="AMinus"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MITransactionIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="DesktopUnderwriterCaseFileIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="DesktopUnderwriterRecommendationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="OutOfScope"/>
					<xs:enumeration value="Error"/>
					<xs:enumeration value="ExpandedApproval1"/>
					<xs:enumeration value="ExpandedApproval2Ineligible"/>
					<xs:enumeration value="ExpandedApproval2"/>
					<xs:enumeration value="ExpandedApproval3"/>
					<xs:enumeration value="CompleteWithCaution"/>
					<xs:enumeration value="ExpandedApproval4"/>
					<xs:enumeration value="ReferEligible"/>
					<xs:enumeration value="Resubmit"/>
					<xs:enumeration value="ExpandedApproval2Eligible"/>
					<xs:enumeration value="Refer"/>
					<xs:enumeration value="Complete"/>
					<xs:enumeration value="ExpandedApproval3Eligible"/>
					<xs:enumeration value="Unknown"/>
					<xs:enumeration value="ReferWithCaution1"/>
					<xs:enumeration value="ReferWithCaution"/>
					<xs:enumeration value="ReferWithCaution2"/>
					<xs:enumeration value="ReferWithCaution3"/>
					<xs:enumeration value="ReferWithCaution4"/>
					<xs:enumeration value="ApproveIneligible"/>
					<xs:enumeration value="ExpandedApproval3Ineligible"/>
					<xs:enumeration value="Deny"/>
					<xs:enumeration value="ExpandedApproval1Ineligible"/>
					<xs:enumeration value="ApproveEligible"/>
					<xs:enumeration value="Approve"/>
					<xs:enumeration value="Ineligible"/>
					<xs:enumeration value="ReferIneligible"/>
					<xs:enumeration value="ExpandedApproval1Eligible"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LoanProspectorKeyIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="LoanProspectorAcceptPlusEligibleIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LoanProspectorCreditRiskClassificationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="NA"/>
					<xs:enumeration value="Caution"/>
					<xs:enumeration value="Refer"/>
					<xs:enumeration value="Accept"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LoanProspectorDocumentationClassificationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="NA"/>
					<xs:enumeration value="Caution"/>
					<xs:enumeration value="AcceptPlus"/>
					<xs:enumeration value="Refer"/>
					<xs:enumeration value="Accept"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LoanProspectorRiskGradeAssignedType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="RG1"/>
					<xs:enumeration value="RG2"/>
					<xs:enumeration value="RG3"/>
					<xs:enumeration value="RG4"/>
					<xs:enumeration value="RG5"/>
					<xs:enumeration value="RG6"/>
					<xs:enumeration value="RG7"/>
					<xs:enumeration value="RG8"/>
					<xs:enumeration value="RG10"/>
					<xs:enumeration value="RG9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FreddieMacPurchaseEligibilityType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="FreddieMacEligible"/>
					<xs:enumeration value="FreddieMacIneligible"/>
					<xs:enumeration value="FreddieMacEligibleLPAMinusOffering"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AutomatedUnderwritingSystemName" type="xs:anySimpleType"/>
		<xs:attribute name="AutomatedUnderwritingSystemResultValue" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="MI_REQUEST" type="MI_REQUEST"/>
	<xs:complexType name="THIRD_PARTY_ORIGINATOR">
		<xs:sequence>
			<xs:element ref="CONTACT_DETAIL" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
		<xs:attribute name="_StreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_StreetAddress2" type="xs:anySimpleType"/>
		<xs:attribute name="_City" type="xs:anySimpleType"/>
		<xs:attribute name="_State" type="xs:anySimpleType"/>
		<xs:attribute name="_PostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="InternalAccountIdentifier" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="THIRD_PARTY_ORIGINATOR" type="THIRD_PARTY_ORIGINATOR"/>
	<xs:complexType name="REQUESTING_PARTY">
		<xs:sequence>
			<xs:element ref="CONTACT_DETAIL" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
		<xs:attribute name="_StreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_StreetAddress2" type="xs:anySimpleType"/>
		<xs:attribute name="_City" type="xs:anySimpleType"/>
		<xs:attribute name="_State" type="xs:anySimpleType"/>
		<xs:attribute name="_PostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="InternalAccountIdentifier" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="REQUESTING_PARTY" type="REQUESTING_PARTY"/>
	<xs:complexType name="SUBMITTING_PARTY">
		<xs:sequence>
			<xs:element ref="CONTACT_DETAIL" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
		<xs:attribute name="_StreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_StreetAddress2" type="xs:anySimpleType"/>
		<xs:attribute name="_City" type="xs:anySimpleType"/>
		<xs:attribute name="_State" type="xs:anySimpleType"/>
		<xs:attribute name="_PostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="InternalAccountIdentifier" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="SUBMITTING_PARTY" type="SUBMITTING_PARTY"/>
	<xs:complexType name="CONTACT_DETAIL">
		<xs:sequence>
			<xs:element ref="CONTACT_POINT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CONTACT_DETAIL" type="CONTACT_DETAIL"/>
	<xs:complexType name="CONTACT_POINT">
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Fax"/>
					<xs:enumeration value="Email"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Phone"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_TypeOtherDescription" type="xs:anySimpleType"/>
		<xs:attribute name="_Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CONTACT_POINT" type="CONTACT_POINT"/>
	<xs:complexType name="CREDIT_SCORE">
		<xs:attribute name="CreditScoreID" type="xs:ID"/>
		<xs:attribute name="BorrowerID" type="xs:IDREFS"/>
		<xs:attribute name="_ModelNameType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ExperianFairIsaac"/>
					<xs:enumeration value="EquifaxEnhancedBeacon"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="TransUnionEmpirica"/>
					<xs:enumeration value="EquifaxBeacon"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_ModelNameTypeOtherDescription" type="xs:anySimpleType"/>
		<xs:attribute name="_Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CREDIT_SCORE" type="CREDIT_SCORE"/>
	<xs:complexType name="KEY">
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
		<xs:attribute name="_Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="KEY" type="KEY"/>
	<xs:complexType name="LOAN_APPLICATION">
		<xs:sequence>
			<xs:element ref="_DATA_INFORMATION" minOccurs="0"/>
			<xs:element ref="ADDITIONAL_CASE_DATA" minOccurs="0"/>
			<xs:element ref="AFFORDABLE_LENDING" minOccurs="0"/>
			<xs:element ref="ASSET" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="DOWN_PAYMENT" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="GOVERNMENT_LOAN" minOccurs="0"/>
			<xs:element ref="INTERVIEWER_INFORMATION" minOccurs="0"/>
			<xs:element ref="LIABILITY" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="LOAN_PRODUCT_DATA" minOccurs="0"/>
			<xs:element ref="LOAN_PURPOSE" minOccurs="0"/>
			<xs:element ref="LOAN_QUALIFICATION" minOccurs="0"/>
			<xs:element ref="MORTGAGE_TERMS" minOccurs="0"/>
			<xs:element ref="PROPERTY" minOccurs="0"/>
			<xs:element ref="PROPOSED_HOUSING_EXPENSE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="REO_PROPERTY" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TITLE_HOLDER" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TRANSACTION_DETAIL" minOccurs="0"/>
			<xs:element ref="BORROWER" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LOAN_APPLICATION" type="LOAN_APPLICATION"/>
	<xs:complexType name="_DATA_INFORMATION">
		<xs:sequence>
			<xs:element ref="DATA_VERSION" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="_DATA_INFORMATION" type="_DATA_INFORMATION"/>
	<xs:complexType name="DATA_VERSION">
		<xs:attribute name="_Name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="_Number" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="DATA_VERSION" type="DATA_VERSION"/>
	<xs:complexType name="ADDITIONAL_CASE_DATA">
		<xs:sequence>
			<xs:element ref="MORTGAGE_SCORE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TRANSMITTAL_DATA" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ADDITIONAL_CASE_DATA" type="ADDITIONAL_CASE_DATA"/>
	<xs:complexType name="MORTGAGE_SCORE">
		<xs:attribute name="_Date" type="xs:anySimpleType"/>
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="PMIAuraAQIScore"/>
					<xs:enumeration value="GE_IQScore"/>
					<xs:enumeration value="UGIAccuscore"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="MORTGAGE_SCORE" type="MORTGAGE_SCORE"/>
	<xs:complexType name="TRANSMITTAL_DATA">
		<xs:attribute name="BelowMarketSubordinateFinancingIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BuydownRatePercent" type="xs:anySimpleType"/>
		<xs:attribute name="CaseStateType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Underwriting"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="FinalDisposition"/>
					<xs:enumeration value="Prequalification"/>
					<xs:enumeration value="PostClosingQualityControl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CurrentFirstMortgageHolderType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Other"/>
					<xs:enumeration value="FNM"/>
					<xs:enumeration value="FRE"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LenderBranchIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="LenderRegistrationIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="PropertyAppraisedValueAmount" type="xs:anySimpleType"/>
		<xs:attribute name="PropertyEstimatedValueAmount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="TRANSMITTAL_DATA" type="TRANSMITTAL_DATA"/>
	<xs:complexType name="AFFORDABLE_LENDING">
		<xs:attribute name="FNMCommunityLendingProductName" type="xs:anySimpleType"/>
		<xs:attribute name="FNMCommunitySecondsIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FNMNeighborsMortgageEligibilityIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FREAffordableProgramIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="HUDIncomeLimitAdjustmentFactor" type="xs:anySimpleType"/>
		<xs:attribute name="HUDLendingIncomeLimitAmount" type="xs:anySimpleType"/>
		<xs:attribute name="HUDMedianIncomeAmount" type="xs:anySimpleType"/>
		<xs:attribute name="MSAIdentifier" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="AFFORDABLE_LENDING" type="AFFORDABLE_LENDING"/>
	<xs:complexType name="ASSET">
		<xs:attribute name="BorrowerID" type="xs:IDREFS"/>
		<xs:attribute name="_AccountIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="_CashOrMarketValueAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SecuredBorrowedFundsNotDeposited"/>
					<xs:enumeration value="NetWorthOfBusinessOwned"/>
					<xs:enumeration value="CertificateOfDepositTimeDeposit"/>
					<xs:enumeration value="MoneyMarketFund"/>
					<xs:enumeration value="CashOnHand"/>
					<xs:enumeration value="LifeInsurance"/>
					<xs:enumeration value="TrustAccount"/>
					<xs:enumeration value="PendingNetSaleProceedsFromRealEstateAssets"/>
					<xs:enumeration value="RetirementFund"/>
					<xs:enumeration value="BridgeLoanNotDeposited"/>
					<xs:enumeration value="EarnestMoneyCashDepositTowardPurchase"/>
					<xs:enumeration value="OtherLiquidAssets"/>
					<xs:enumeration value="MutualFund"/>
					<xs:enumeration value="OtherNonLiquidAssets"/>
					<xs:enumeration value="GiftsTotal"/>
					<xs:enumeration value="Automobile"/>
					<xs:enumeration value="SavingsAccount"/>
					<xs:enumeration value="GiftsNotDeposited"/>
					<xs:enumeration value="Stock"/>
					<xs:enumeration value="CheckingAccount"/>
					<xs:enumeration value="Bond"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_HolderName" type="xs:anySimpleType"/>
		<xs:attribute name="_HolderStreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_HolderCity" type="xs:anySimpleType"/>
		<xs:attribute name="_HolderState" type="xs:anySimpleType"/>
		<xs:attribute name="_HolderPostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="AutomobileMakeDescription" type="xs:anySimpleType"/>
		<xs:attribute name="AutomobileModelYear" type="xs:anySimpleType"/>
		<xs:attribute name="LifeInsuranceFaceValueAmount" type="xs:anySimpleType"/>
		<xs:attribute name="OtherAssetTypeDescription" type="xs:anySimpleType"/>
		<xs:attribute name="StockBondMutualFundShareCount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ASSET" type="ASSET"/>
	<xs:complexType name="DOWN_PAYMENT">
		<xs:attribute name="_Amount" type="xs:anySimpleType"/>
		<xs:attribute name="_SourceDescription" type="xs:anySimpleType"/>
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="StocksAndBonds"/>
					<xs:enumeration value="TrustFunds"/>
					<xs:enumeration value="SweatEquity"/>
					<xs:enumeration value="CashOnHand"/>
					<xs:enumeration value="GiftFunds"/>
					<xs:enumeration value="EquityOnPendingSale"/>
					<xs:enumeration value="UnsecuredBorrowedFunds"/>
					<xs:enumeration value="CheckingSavings"/>
					<xs:enumeration value="LifeInsuranceCashValue"/>
					<xs:enumeration value="LotEquity"/>
					<xs:enumeration value="TradeEquity"/>
					<xs:enumeration value="RentWithOptionToPurchase"/>
					<xs:enumeration value="SaleOfChattel"/>
					<xs:enumeration value="RetirementFunds"/>
					<xs:enumeration value="EquityOnSubjectProperty"/>
					<xs:enumeration value="OtherTypeOfDownPayment"/>
					<xs:enumeration value="DepositOnSalesContract"/>
					<xs:enumeration value="BridgeLoan"/>
					<xs:enumeration value="EquityOnSoldProperty"/>
					<xs:enumeration value="SecuredBorrowedFunds"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DOWN_PAYMENT" type="DOWN_PAYMENT"/>
	<xs:complexType name="GOVERNMENT_LOAN">
		<xs:sequence>
			<xs:element ref="FHA_LOAN" minOccurs="0"/>
			<xs:element ref="FHA_VA_LOAN" minOccurs="0"/>
			<xs:element ref="VA_LOAN" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GOVERNMENT_LOAN" type="GOVERNMENT_LOAN"/>
	<xs:complexType name="FHA_LOAN">
		<xs:attribute name="BorrowerFinancedFHADiscountPointsAmount" type="xs:anySimpleType"/>
		<xs:attribute name="FHAAlimonyLiabilityTreatmentType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ReductionToIncome"/>
					<xs:enumeration value="AdditionToDebt"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FHACoverageRenewalRatePercent" type="xs:anySimpleType"/>
		<xs:attribute name="FHA_MIPremiumRefundAmount" type="xs:anySimpleType"/>
		<xs:attribute name="FHAUpfrontMIPremiumPercent" type="xs:anySimpleType"/>
		<xs:attribute name="SectionOfActType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="234C251"/>
					<xs:enumeration value="203K"/>
					<xs:enumeration value="203B"/>
					<xs:enumeration value="203B251"/>
					<xs:enumeration value="234C"/>
					<xs:enumeration value="203K251"/>
					<xs:enumeration value="203B2"/>
					<xs:enumeration value="221D2251"/>
					<xs:enumeration value="221D2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="FHA_LOAN" type="FHA_LOAN"/>
	<xs:complexType name="FHA_VA_LOAN">
		<xs:attribute name="BorrowerPaidFHA_VAClosingCostsAmount" type="xs:anySimpleType"/>
		<xs:attribute name="BorrowerPaidFHA_VAClosingCostsPercent" type="xs:anySimpleType"/>
		<xs:attribute name="GovernmentMortgageCreditCertificateAmount" type="xs:anySimpleType"/>
		<xs:attribute name="GovernmentRefinanceType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="StreamlineWithAppraisal"/>
					<xs:enumeration value="FullDocumentation"/>
					<xs:enumeration value="InterestRateReductionRefinanceLoan"/>
					<xs:enumeration value="StreamlineWithoutAppraisal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OtherPartyPaidFHA_VAClosingCostsAmount" type="xs:anySimpleType"/>
		<xs:attribute name="OtherPartyPaidFHA_VAClosingCostsPercent" type="xs:anySimpleType"/>
		<xs:attribute name="PropertyEnergyEfficientHomeIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SellerPaidFHA_VAClosingCostsPercent" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="FHA_VA_LOAN" type="FHA_VA_LOAN"/>
	<xs:complexType name="VA_LOAN">
		<xs:attribute name="VABorrowerCoBorrowerMarriedIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BorrowerFundingFeePercent" type="xs:anySimpleType"/>
		<xs:attribute name="VAEntitlementAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VAMaintenanceExpenseMonthlyAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VAUtilityExpenseMonthlyAmount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="VA_LOAN" type="VA_LOAN"/>
	<xs:complexType name="INTERVIEWER_INFORMATION">
		<xs:attribute name="InterviewersEmployerStreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="InterviewersEmployerCity" type="xs:anySimpleType"/>
		<xs:attribute name="InterviewersEmployerState" type="xs:anySimpleType"/>
		<xs:attribute name="InterviewersEmployerPostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="InterviewersTelephoneNumber" type="xs:anySimpleType"/>
		<xs:attribute name="ApplicationTakenMethodType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Mail"/>
					<xs:enumeration value="Internet"/>
					<xs:enumeration value="Telephone"/>
					<xs:enumeration value="FaceToFace"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="InterviewerApplicationSignedDate" type="xs:anySimpleType"/>
		<xs:attribute name="InterviewersEmployerName" type="xs:anySimpleType"/>
		<xs:attribute name="InterviewersName" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="INTERVIEWER_INFORMATION" type="INTERVIEWER_INFORMATION"/>
	<xs:complexType name="LIABILITY">
		<xs:attribute name="_ID" type="xs:ID"/>
		<xs:attribute name="BorrowerID" type="xs:IDREFS"/>
		<xs:attribute name="REO_ID" type="xs:IDREF"/>
		<xs:attribute name="_HolderStreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_HolderCity" type="xs:anySimpleType"/>
		<xs:attribute name="_HolderState" type="xs:anySimpleType"/>
		<xs:attribute name="_HolderPostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="AlimonyOwedToName" type="xs:anySimpleType"/>
		<xs:attribute name="_AccountIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="_ExclusionIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_HolderName" type="xs:anySimpleType"/>
		<xs:attribute name="_MonthlyPaymentAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_PayoffStatusIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_RemainingTermMonths" type="xs:anySimpleType"/>
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="CollectionsJudgementsAndLiens"/>
					<xs:enumeration value="ChildSupport"/>
					<xs:enumeration value="Taxes"/>
					<xs:enumeration value="OtherLiability"/>
					<xs:enumeration value="OtherExpense"/>
					<xs:enumeration value="Installment"/>
					<xs:enumeration value="JobRelatedExpenses"/>
					<xs:enumeration value="LeasePayments"/>
					<xs:enumeration value="Revolving"/>
					<xs:enumeration value="ChildCare"/>
					<xs:enumeration value="SeparateMaintenanceExpense"/>
					<xs:enumeration value="Open30DayChargeAccount"/>
					<xs:enumeration value="Alimony"/>
					<xs:enumeration value="HELOC"/>
					<xs:enumeration value="MortgageLoan"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_UnpaidBalanceAmount" type="xs:anySimpleType"/>
		<xs:attribute name="SubjectLoanResubordinationIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="LIABILITY" type="LIABILITY"/>
	<xs:complexType name="LOAN_PRODUCT_DATA">
		<xs:sequence>
			<xs:element ref="ARM" minOccurs="0"/>
			<xs:element ref="BUYDOWN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="LOAN_FEATURES" minOccurs="0"/>
			<xs:element ref="PAYMENT_ADJUSTMENT" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="RATE_ADJUSTMENT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LOAN_PRODUCT_DATA" type="LOAN_PRODUCT_DATA"/>
	<xs:complexType name="ARM">
		<xs:attribute name="_IndexCurrentValuePercent" type="xs:anySimpleType"/>
		<xs:attribute name="_IndexMarginPercent" type="xs:anySimpleType"/>
		<xs:attribute name="_IndexType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="WeeklyAverageCertificateOfDepositRate"/>
					<xs:enumeration value="LIBOR"/>
					<xs:enumeration value="NationalAverageContractRateFHLBB"/>
					<xs:enumeration value="NationalMonthlyMedianCostOfFunds"/>
					<xs:enumeration value="WeeklyAveragePrimeRate"/>
					<xs:enumeration value="OneYearTreasury"/>
					<xs:enumeration value="EleventhDistrictCostOfFunds"/>
					<xs:enumeration value="SixMonthTreasury"/>
					<xs:enumeration value="FRE60DayRequiredNetYield"/>
					<xs:enumeration value="WeeklyAverageTreasuryAuctionAverageInvestmentYield"/>
					<xs:enumeration value="WeeklyAverageSecondaryMarketTreasuryBillInvestmentYield"/>
					<xs:enumeration value="WeeklyAverageConstantMaturingTreasury"/>
					<xs:enumeration value="WallStreetJournalLIBOR"/>
					<xs:enumeration value="DailyCertificateOfDepositRate"/>
					<xs:enumeration value="TreasuryBillDailyValue"/>
					<xs:enumeration value="FRE_LIBOR"/>
					<xs:enumeration value="FederalCostOfFunds"/>
					<xs:enumeration value="WeeklyAverageTreasuryAuctionAverageBondDiscountYield"/>
					<xs:enumeration value="MonthlyAverageConstantMaturingTreasury"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="ThreeYearTreasury"/>
					<xs:enumeration value="FNM_LIBOR"/>
					<xs:enumeration value="FNM60DayRequiredNetYield"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_QualifyingRatePercent" type="xs:anySimpleType"/>
		<xs:attribute name="PaymentAdjustmentLifetimeCapAmount" type="xs:anySimpleType"/>
		<xs:attribute name="PaymentAdjustmentLifetimeCapPercent" type="xs:anySimpleType"/>
		<xs:attribute name="RateAdjustmentLifetimeCapPercent" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ARM" type="ARM"/>
	<xs:complexType name="BUYDOWN">
		<xs:attribute name="_BaseDateType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="FirstPaymentDate"/>
					<xs:enumeration value="NoteDate"/>
					<xs:enumeration value="LastPaymentDate"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_ChangeFrequencyMonths" type="xs:anySimpleType"/>
		<xs:attribute name="_ContributorType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Borrower"/>
					<xs:enumeration value="Seller"/>
					<xs:enumeration value="Builder"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="LenderPremiumFinanced"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_DurationMonths" type="xs:anySimpleType"/>
		<xs:attribute name="_IncreaseRatePercent" type="xs:anySimpleType"/>
		<xs:attribute name="_LenderFundingIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_PermanentIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="BUYDOWN" type="BUYDOWN"/>
	<xs:complexType name="LOAN_FEATURES">
		<xs:attribute name="AssumabilityIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BalloonIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BalloonLoanMaturityTermMonths" type="xs:anySimpleType"/>
		<xs:attribute name="CounselingConfirmationIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DownPaymentOptionType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="FNM97Option"/>
					<xs:enumeration value="ThreeTwoOption"/>
					<xs:enumeration value="FivePercentOption"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EscrowWaiverIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FREOfferingIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="FNMProductPlanIndentifier" type="xs:anySimpleType"/>
		<xs:attribute name="GSEProjectClassificationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="TwoCooperative"/>
					<xs:enumeration value="A_IIICondominium"/>
					<xs:enumeration value="III_PUD"/>
					<xs:enumeration value="F_PUD"/>
					<xs:enumeration value="C_ICondominium"/>
					<xs:enumeration value="E_PUD"/>
					<xs:enumeration value="B_IICondominium"/>
					<xs:enumeration value="ApprovedFHA_VACondominiumProjectOrSpotLoan"/>
					<xs:enumeration value="OneCooperative"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ProjectName" type="xs:anySimpleType"/>
		<xs:attribute name="GSEPropertyType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ManufacturedHousing"/>
					<xs:enumeration value="Attached"/>
					<xs:enumeration value="HighRiseCondominium"/>
					<xs:enumeration value="Cooperative"/>
					<xs:enumeration value="PUD"/>
					<xs:enumeration value="Condominium"/>
					<xs:enumeration value="Detached"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HELOCMaximumBalanceAmount" type="xs:anySimpleType"/>
		<xs:attribute name="LienPriorityType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SecondLien"/>
					<xs:enumeration value="FirstLien"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LoanDocumentationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="FullDocumentation"/>
					<xs:enumeration value="NoDepositVerificationEmploymentVerificationOrIncomeVerification"/>
					<xs:enumeration value="NoDocumentation"/>
					<xs:enumeration value="StreamlineRefinance"/>
					<xs:enumeration value="NoDepositVerification"/>
					<xs:enumeration value="Reduced"/>
					<xs:enumeration value="NoEmploymentVerificationOrIncomeVerification"/>
					<xs:enumeration value="Alternative"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LoanRepaymentType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="PotentialNegativeAmortization"/>
					<xs:enumeration value="NoNegativeAmortization"/>
					<xs:enumeration value="InterestOnly"/>
					<xs:enumeration value="ScheduledAmortization"/>
					<xs:enumeration value="ScheduledNegativeAmortization"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LoanScheduledClosingDate" type="xs:anySimpleType"/>
		<xs:attribute name="MICoveragePercent" type="xs:anySimpleType"/>
		<xs:attribute name="MICompanyNameType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="MortgageGuarantyInsuranceCorporation"/>
					<xs:enumeration value="UnitedGuarantyCorporation"/>
					<xs:enumeration value="GECapitalMICorporation"/>
					<xs:enumeration value="AmerinGuaranteeCorporation"/>
					<xs:enumeration value="RadianGuarantyIncorporated"/>
					<xs:enumeration value="CommonwealthMortgageAssuranceCompany"/>
					<xs:enumeration value="RepublicMICompany"/>
					<xs:enumeration value="TriadGuarantyInsuranceCorporation"/>
					<xs:enumeration value="CMG_MICompany"/>
					<xs:enumeration value="PMI_MICorporation"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="NegativeAmortizationLimitPercent" type="xs:anySimpleType"/>
		<xs:attribute name="PaymentFrequencyType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Biweekly"/>
					<xs:enumeration value="Monthly"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PrepaymentPenaltyIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PrepaymentRestrictionIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ProductDescription" type="xs:anySimpleType"/>
		<xs:attribute name="ProductName" type="xs:anySimpleType"/>
		<xs:attribute name="ScheduledFirstPaymentDate" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="LOAN_FEATURES" type="LOAN_FEATURES"/>
	<xs:complexType name="PAYMENT_ADJUSTMENT">
		<xs:attribute name="FirstPaymentAdjustmentMonths" type="xs:anySimpleType"/>
		<xs:attribute name="_Amount" type="xs:anySimpleType"/>
		<xs:attribute name="_CalculationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="AddPercentToEffectivePaymentRate"/>
					<xs:enumeration value="AddFixedDollarAmountToTheCurrentPayment"/>
					<xs:enumeration value="AddPercentToCurrentPaymentAmount"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_DurationMonths" type="xs:anySimpleType"/>
		<xs:attribute name="_Percent" type="xs:anySimpleType"/>
		<xs:attribute name="_PeriodicCapAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_PeriodicCapPercent" type="xs:anySimpleType"/>
		<xs:attribute name="_PeriodNumber" type="xs:anySimpleType"/>
		<xs:attribute name="SubsequentPaymentAdjustmentMonths" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="PAYMENT_ADJUSTMENT" type="PAYMENT_ADJUSTMENT"/>
	<xs:complexType name="RATE_ADJUSTMENT">
		<xs:attribute name="FirstRateAdjustmentMonths" type="xs:anySimpleType"/>
		<xs:attribute name="_CalculationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="AddPercentToOriginalRate"/>
					<xs:enumeration value="IndexPlusMargin"/>
					<xs:enumeration value="AddPercentToCurrentRate"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_DurationMonths" type="xs:anySimpleType"/>
		<xs:attribute name="_Percent" type="xs:anySimpleType"/>
		<xs:attribute name="_PeriodNumber" type="xs:anySimpleType"/>
		<xs:attribute name="_InitialCapPercent" type="xs:anySimpleType"/>
		<xs:attribute name="_SubsequentCapPercent" type="xs:anySimpleType"/>
		<xs:attribute name="SubsequentRateAdjustmentMonths" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="RATE_ADJUSTMENT" type="RATE_ADJUSTMENT"/>
	<xs:complexType name="LOAN_PURPOSE">
		<xs:sequence>
			<xs:element ref="CONSTRUCTION_REFINANCE_DATA" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="GSETitleMannerHeldDescription" type="xs:anySimpleType"/>
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Purchase"/>
					<xs:enumeration value="ConstructionToPermanent"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="ConstructionOnly"/>
					<xs:enumeration value="Refinance"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OtherLoanPurposeDescription" type="xs:anySimpleType"/>
		<xs:attribute name="PropertyLeaseholdExpirationDate" type="xs:anySimpleType"/>
		<xs:attribute name="PropertyRightsType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="FeeSimple"/>
					<xs:enumeration value="Leasehold"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PropertyUsageType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Investor"/>
					<xs:enumeration value="SecondHome"/>
					<xs:enumeration value="PrimaryResidence"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="LOAN_PURPOSE" type="LOAN_PURPOSE"/>
	<xs:complexType name="CONSTRUCTION_REFINANCE_DATA">
		<xs:attribute name="ConstructionImprovementCostsAmount" type="xs:anySimpleType"/>
		<xs:attribute name="FRECashOutAmount" type="xs:anySimpleType"/>
		<xs:attribute name="GSERefinancePurposeType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="NoCashOutStreamlinedRefinance"/>
					<xs:enumeration value="NoCashOutFHAStreamlinedRefinance"/>
					<xs:enumeration value="NoCashOutFREOwnedRefinance"/>
					<xs:enumeration value="CashOutHomeImprovement"/>
					<xs:enumeration value="ChangeInRateTerm"/>
					<xs:enumeration value="NoCashOutOther"/>
					<xs:enumeration value="CashOutLimited"/>
					<xs:enumeration value="CashOutOther"/>
					<xs:enumeration value="CashOutDebtConsolidation"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LandEstimatedValueAmount" type="xs:anySimpleType"/>
		<xs:attribute name="LandOriginalCostAmount" type="xs:anySimpleType"/>
		<xs:attribute name="PropertyAcquiredYear" type="xs:anySimpleType"/>
		<xs:attribute name="PropertyExistingLienAmount" type="xs:anySimpleType"/>
		<xs:attribute name="PropertyOriginalCostAmount" type="xs:anySimpleType"/>
		<xs:attribute name="RefinanceImprovementCostsAmount" type="xs:anySimpleType"/>
		<xs:attribute name="RefinanceImprovementsType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Made"/>
					<xs:enumeration value="ToBeMade"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RefinanceProposedImprovementsDescription" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CONSTRUCTION_REFINANCE_DATA" type="CONSTRUCTION_REFINANCE_DATA"/>
	<xs:complexType name="LOAN_QUALIFICATION">
		<xs:attribute name="AdditionalBorrowerAssetsNotConsideredIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AdditionalBorrowerAssetsConsideredIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="LOAN_QUALIFICATION" type="LOAN_QUALIFICATION"/>
	<xs:complexType name="MORTGAGE_TERMS">
		<xs:attribute name="AgencyCaseIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="ARMTypeDescription" type="xs:anySimpleType"/>
		<xs:attribute name="BaseLoanAmount" type="xs:anySimpleType"/>
		<xs:attribute name="BorrowerRequestedLoanAmount" type="xs:anySimpleType"/>
		<xs:attribute name="LenderCaseIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="LoanAmortizationTermMonths" type="xs:anySimpleType"/>
		<xs:attribute name="LoanAmortizationType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="GraduatedPaymentMortgage"/>
					<xs:enumeration value="OtherAmortizationType"/>
					<xs:enumeration value="GrowingEquityMortgage"/>
					<xs:enumeration value="Fixed"/>
					<xs:enumeration value="AdjustableRate"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MortgageType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="VA"/>
					<xs:enumeration value="FarmersHomeAdministration"/>
					<xs:enumeration value="Conventional"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="FHA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OtherAmortizationTypeDescription" type="xs:anySimpleType"/>
		<xs:attribute name="OtherMortgageTypeDescription" type="xs:anySimpleType"/>
		<xs:attribute name="RequestedInterestRatePercent" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="MORTGAGE_TERMS" type="MORTGAGE_TERMS"/>
	<xs:complexType name="PROPERTY">
		<xs:sequence>
			<xs:element ref="_LEGAL_DESCRIPTION" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="_StreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_City" type="xs:anySimpleType"/>
		<xs:attribute name="_State" type="xs:anySimpleType"/>
		<xs:attribute name="_County" type="xs:anySimpleType"/>
		<xs:attribute name="_PostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="BuildingStatusType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Existing"/>
					<xs:enumeration value="Proposed"/>
					<xs:enumeration value="SubstantiallyRehabilitated"/>
					<xs:enumeration value="SubjectToAlterationImprovementRepairAndRehabilitation"/>
					<xs:enumeration value="UnderConstruction"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_FinancedNumberOfUnits" type="xs:anySimpleType"/>
		<xs:attribute name="_StructureBuiltYear" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="PROPERTY" type="PROPERTY"/>
	<xs:complexType name="_LEGAL_DESCRIPTION">
		<xs:attribute name="_TextDescription" type="xs:anySimpleType"/>
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Other"/>
					<xs:enumeration value="MetesAndBounds"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="_LEGAL_DESCRIPTION" type="_LEGAL_DESCRIPTION"/>
	<xs:complexType name="PROPOSED_HOUSING_EXPENSE">
		<xs:attribute name="HousingExpenseType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="RealEstateTax"/>
					<xs:enumeration value="OtherMortgageLoanPrincipalAndInterest"/>
					<xs:enumeration value="GroundRent"/>
					<xs:enumeration value="FirstMortgagePrincipalAndInterest"/>
					<xs:enumeration value="OtherHousingExpense"/>
					<xs:enumeration value="MI"/>
					<xs:enumeration value="HazardInsurance"/>
					<xs:enumeration value="HomeownersAssociationDuesAndCondominiumFees"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_PaymentAmount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="PROPOSED_HOUSING_EXPENSE" type="PROPOSED_HOUSING_EXPENSE"/>
	<xs:complexType name="REO_PROPERTY">
		<xs:attribute name="REO_ID" type="xs:ID"/>
		<xs:attribute name="BorrowerID" type="xs:IDREFS"/>
		<xs:attribute name="LiabilityID" type="xs:IDREFS"/>
		<xs:attribute name="_StreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_City" type="xs:anySimpleType"/>
		<xs:attribute name="_State" type="xs:anySimpleType"/>
		<xs:attribute name="_PostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="_CurrentResidenceIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_DispositionStatusType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="RetainForPrimaryOrSecondaryResidence"/>
					<xs:enumeration value="RetainForRental"/>
					<xs:enumeration value="Sold"/>
					<xs:enumeration value="PendingSale"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_GSEPropertyType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SingleFamily"/>
					<xs:enumeration value="Condominium"/>
					<xs:enumeration value="Townhouse"/>
					<xs:enumeration value="CommercialNonResidential"/>
					<xs:enumeration value="TwoToFourUnitProperty"/>
					<xs:enumeration value="MixedUseResidential"/>
					<xs:enumeration value="Farm"/>
					<xs:enumeration value="Cooperative"/>
					<xs:enumeration value="Land"/>
					<xs:enumeration value="ManufacturedMobileHome"/>
					<xs:enumeration value="MultifamilyMoreThanFourUnits"/>
					<xs:enumeration value="HomeAndBusinessCombined"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_LienInstallmentAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_LienUPBAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_MaintenanceExpenseAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_MarketValueAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_RentalIncomeGrossAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_RentalIncomeNetAmount" type="xs:anySimpleType"/>
		<xs:attribute name="_SubjectIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="REO_PROPERTY" type="REO_PROPERTY"/>
	<xs:complexType name="TITLE_HOLDER">
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="TITLE_HOLDER" type="TITLE_HOLDER"/>
	<xs:complexType name="TRANSACTION_DETAIL">
		<xs:sequence>
			<xs:element ref="PURCHASE_CREDIT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="AlterationsImprovementsAndRepairsAmount" type="xs:anySimpleType"/>
		<xs:attribute name="BorrowerPaidDiscountPointsTotalAmount" type="xs:anySimpleType"/>
		<xs:attribute name="EstimatedClosingCostsAmount" type="xs:anySimpleType"/>
		<xs:attribute name="MIAndFundingFeeFinancedAmount" type="xs:anySimpleType"/>
		<xs:attribute name="MIAndFundingFeeTotalAmount" type="xs:anySimpleType"/>
		<xs:attribute name="PrepaidItemsEstimatedAmount" type="xs:anySimpleType"/>
		<xs:attribute name="PurchasePriceAmount" type="xs:anySimpleType"/>
		<xs:attribute name="RefinanceIncludingDebtsToBePaidOffAmount" type="xs:anySimpleType"/>
		<xs:attribute name="SalesConcessionAmount" type="xs:anySimpleType"/>
		<xs:attribute name="SellerPaidClosingCostsAmount" type="xs:anySimpleType"/>
		<xs:attribute name="SubordinateLienAmount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="TRANSACTION_DETAIL" type="TRANSACTION_DETAIL"/>
	<xs:complexType name="PURCHASE_CREDIT">
		<xs:attribute name="_Amount" type="xs:anySimpleType"/>
		<xs:attribute name="_SourceType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Lender"/>
					<xs:enumeration value="BorrowerPaidOutsideClosing"/>
					<xs:enumeration value="PropertySeller"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="EarnestMoney"/>
					<xs:enumeration value="RelocationFunds"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="LeasePurchaseFund"/>
					<xs:enumeration value="EmployerAssistedHousing"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="PURCHASE_CREDIT" type="PURCHASE_CREDIT"/>
	<xs:complexType name="BORROWER">
		<xs:sequence>
			<xs:element ref="_ALIAS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="_MAIL_TO" minOccurs="0"/>
			<xs:element ref="_RESIDENCE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="CURRENT_INCOME" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="DECLARATION" minOccurs="0"/>
			<xs:element ref="DEPENDENT" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="EMPLOYER" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="FHA_VA_BORROWER" minOccurs="0"/>
			<xs:element ref="GOVERNMENT_MONITORING" minOccurs="0"/>
			<xs:element ref="PRESENT_HOUSING_EXPENSE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="SUMMARY" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="VA_BORROWER" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="BorrowerID" type="xs:ID"/>
		<xs:attribute name="JointAssetBorrowerID" type="xs:IDREF"/>
		<xs:attribute name="_FirstName" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="_MiddleName" type="xs:anySimpleType"/>
		<xs:attribute name="_LastName" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="_NameSuffix" type="xs:anySimpleType"/>
		<xs:attribute name="_AgeAtApplicationYears" type="xs:anySimpleType"/>
		<xs:attribute name="_BirthDate" type="xs:anySimpleType"/>
		<xs:attribute name="_ApplicationSignedDate" type="xs:anySimpleType"/>
		<xs:attribute name="_HomeTelephoneNumber" type="xs:anySimpleType"/>
		<xs:attribute name="_PrintPositionType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Borrower"/>
					<xs:enumeration value="CoBorrower"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_SSN" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="DependentCount" type="xs:anySimpleType"/>
		<xs:attribute name="JointAssetLiabilityReportingType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Jointly"/>
					<xs:enumeration value="NotJointly"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MaritalStatusType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Separated"/>
					<xs:enumeration value="Married"/>
					<xs:enumeration value="NotProvided"/>
					<xs:enumeration value="Unmarried"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SchoolingYears" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="BORROWER" type="BORROWER"/>
	<xs:complexType name="_ALIAS">
		<xs:attribute name="_FirstName" type="xs:anySimpleType"/>
		<xs:attribute name="_LastName" type="xs:anySimpleType"/>
		<xs:attribute name="_MiddleName" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="_ALIAS" type="_ALIAS"/>
	<xs:complexType name="_MAIL_TO">
		<xs:attribute name="_StreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_StreetAddress2" type="xs:anySimpleType"/>
		<xs:attribute name="_City" type="xs:anySimpleType"/>
		<xs:attribute name="_State" type="xs:anySimpleType"/>
		<xs:attribute name="_PostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="_Country" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="_MAIL_TO" type="_MAIL_TO"/>
	<xs:complexType name="_RESIDENCE">
		<xs:attribute name="_StreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_City" type="xs:anySimpleType"/>
		<xs:attribute name="_State" type="xs:anySimpleType"/>
		<xs:attribute name="_PostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="_Country" type="xs:anySimpleType"/>
		<xs:attribute name="BorrowerResidencyBasisType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Own"/>
					<xs:enumeration value="LivingRentFree"/>
					<xs:enumeration value="Rent"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BorrowerResidencyDurationMonths" type="xs:anySimpleType"/>
		<xs:attribute name="BorrowerResidencyDurationYears" type="xs:anySimpleType"/>
		<xs:attribute name="BorrowerResidencyType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Current"/>
					<xs:enumeration value="Prior"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="_RESIDENCE" type="_RESIDENCE"/>
	<xs:complexType name="CURRENT_INCOME">
		<xs:attribute name="IncomeType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="MilitaryRationsAllowance"/>
					<xs:enumeration value="VABenefitsNonEducational"/>
					<xs:enumeration value="Unemployment"/>
					<xs:enumeration value="MilitaryOverseasPay"/>
					<xs:enumeration value="OtherTypesOfIncome"/>
					<xs:enumeration value="Bonus"/>
					<xs:enumeration value="MilitaryHazardPay"/>
					<xs:enumeration value="PublicAssistance"/>
					<xs:enumeration value="MilitaryClothesAllowance"/>
					<xs:enumeration value="AlimonyChildSupport"/>
					<xs:enumeration value="SubjectPropertyNetCashFlow"/>
					<xs:enumeration value="FosterCare"/>
					<xs:enumeration value="MilitaryFlightPay"/>
					<xs:enumeration value="MilitaryCombatPay"/>
					<xs:enumeration value="NetRentalIncome"/>
					<xs:enumeration value="MortgageDifferential"/>
					<xs:enumeration value="SocialSecurity"/>
					<xs:enumeration value="AutomobileExpenseAccount"/>
					<xs:enumeration value="MilitaryQuartersAllowance"/>
					<xs:enumeration value="DividendsInterest"/>
					<xs:enumeration value="Pension"/>
					<xs:enumeration value="Trust"/>
					<xs:enumeration value="MilitaryBasePay"/>
					<xs:enumeration value="Overtime"/>
					<xs:enumeration value="MilitaryPropPay"/>
					<xs:enumeration value="Commissions"/>
					<xs:enumeration value="Base"/>
					<xs:enumeration value="NotesReceivableInstallment"/>
					<xs:enumeration value="MilitaryVariableHousingAllowance"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_MonthlyTotalAmount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CURRENT_INCOME" type="CURRENT_INCOME"/>
	<xs:complexType name="DECLARATION">
		<xs:sequence>
			<xs:element ref="_EXPLANATION" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="AlimonyChildSupportObligationIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BankruptcyIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BorrowedDownPaymentIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CitizenshipResidencyType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="NonPermanentResidentAlien"/>
					<xs:enumeration value="USCitizen"/>
					<xs:enumeration value="PermanentResidentAlien"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CoMakerEndorserOfNoteIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HomeownerPastThreeYearsType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="No"/>
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="IntentToOccupyType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="No"/>
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LoanForeclosureOrJudgementIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OutstandingJudgementsIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PartyToLawsuitIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PresentlyDelinquentIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PriorPropertyTitleType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="JointWithSpouse"/>
					<xs:enumeration value="JointWithOtherThanSpouse"/>
					<xs:enumeration value="Sole"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PriorPropertyUsageType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SecondaryResidence"/>
					<xs:enumeration value="Investment"/>
					<xs:enumeration value="PrimaryResidence"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PropertyForeclosedPastSevenYearsIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DECLARATION" type="DECLARATION"/>
	<xs:complexType name="_EXPLANATION">
		<xs:attribute name="_Description" type="xs:anySimpleType"/>
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="DelinquencyOrDefault"/>
					<xs:enumeration value="DirectIndirectForeclosedPropertyPastSevenYears"/>
					<xs:enumeration value="AlimonyChildSupport"/>
					<xs:enumeration value="ObligatedOnLoanForeclosedOrDeedInLieuOfJudgement"/>
					<xs:enumeration value="DeclaredBankruptcyPastSevenYears"/>
					<xs:enumeration value="CoMakerEndorserOnNote"/>
					<xs:enumeration value="OutstandingJudgments"/>
					<xs:enumeration value="PartyToLawsuit"/>
					<xs:enumeration value="BorrowedDownPayment"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="_EXPLANATION" type="_EXPLANATION"/>
	<xs:complexType name="DEPENDENT">
		<xs:attribute name="_AgeYears" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="DEPENDENT" type="DEPENDENT"/>
	<xs:complexType name="EMPLOYER">
		<xs:attribute name="_Name" type="xs:anySimpleType"/>
		<xs:attribute name="_StreetAddress" type="xs:anySimpleType"/>
		<xs:attribute name="_City" type="xs:anySimpleType"/>
		<xs:attribute name="_State" type="xs:anySimpleType"/>
		<xs:attribute name="_PostalCode" type="xs:anySimpleType"/>
		<xs:attribute name="_TelephoneNumber" type="xs:anySimpleType"/>
		<xs:attribute name="CurrentEmploymentMonthsOnJob" type="xs:anySimpleType"/>
		<xs:attribute name="CurrentEmploymentTimeInLineOfWorkYears" type="xs:anySimpleType"/>
		<xs:attribute name="CurrentEmploymentYearsOnJob" type="xs:anySimpleType"/>
		<xs:attribute name="EmploymentBorrowerSelfEmployedIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EmploymentCurrentIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EmploymentPositionDescription" type="xs:anySimpleType"/>
		<xs:attribute name="EmploymentPrimaryIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="IncomeEmploymentMonthlyAmount" type="xs:anySimpleType"/>
		<xs:attribute name="PreviousEmploymentEndDate" type="xs:anySimpleType"/>
		<xs:attribute name="PreviousEmploymentStartDate" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="EMPLOYER" type="EMPLOYER"/>
	<xs:complexType name="FHA_VA_BORROWER">
		<xs:attribute name="CAIVRSIdentifier" type="xs:anySimpleType"/>
		<xs:attribute name="FNMBankruptcyCount" type="xs:anySimpleType"/>
		<xs:attribute name="FNMBorrowerCreditRating" type="xs:anySimpleType"/>
		<xs:attribute name="FNMCreditReportScoreType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="FICO"/>
					<xs:enumeration value="CreditQuote"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FNMForeclosureCount" type="xs:anySimpleType"/>
		<xs:attribute name="VeteranStatusIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="FHA_VA_BORROWER" type="FHA_VA_BORROWER"/>
	<xs:complexType name="GOVERNMENT_MONITORING">
		<xs:sequence>
			<xs:element ref="HMDA_RACE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="GenderType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="InformationNotProvidedUnknown"/>
					<xs:enumeration value="Female"/>
					<xs:enumeration value="Male"/>
					<xs:enumeration value="NotApplicable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OtherRaceNationalOriginDescription" type="xs:anySimpleType"/>
		<xs:attribute name="RaceNationalOriginRefusalIndicator">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RaceNationalOriginType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Hispanic"/>
					<xs:enumeration value="AmericanIndianOrAlaskanNative"/>
					<xs:enumeration value="InformationNotProvided"/>
					<xs:enumeration value="BlackNotOfHispanicOrigin"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="WhiteNotOfHispanicOrigin"/>
					<xs:enumeration value="AsianOrPacificIslander"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HMDAEthnicityType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="NotHispanicOrLatino"/>
					<xs:enumeration value="InformationNotProvidedByApplicantInMailInternetOrTelephoneApplication"/>
					<xs:enumeration value="HispanicOrLatino"/>
					<xs:enumeration value="NotApplicable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="GOVERNMENT_MONITORING" type="GOVERNMENT_MONITORING"/>
	<xs:complexType name="HMDA_RACE">
		<xs:attribute name="_Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="InformationNotProvidedByApplicantInMailInternetOrTelephoneApplication"/>
					<xs:enumeration value="White"/>
					<xs:enumeration value="NativeHawaiianOrOtherPacificIslander"/>
					<xs:enumeration value="BlackOrAfricanAmerican"/>
					<xs:enumeration value="AmericanIndianOrAlaskaNative"/>
					<xs:enumeration value="Asian"/>
					<xs:enumeration value="NotApplicable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="HMDA_RACE" type="HMDA_RACE"/>
	<xs:complexType name="PRESENT_HOUSING_EXPENSE">
		<xs:attribute name="HousingExpenseType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="RealEstateTax"/>
					<xs:enumeration value="OtherMortgageLoanPrincipalAndInterest"/>
					<xs:enumeration value="FirstMortgagePrincipalAndInterest"/>
					<xs:enumeration value="OtherHousingExpense"/>
					<xs:enumeration value="MI"/>
					<xs:enumeration value="HazardInsurance"/>
					<xs:enumeration value="HomeownersAssociationDuesAndCondominiumFees"/>
					<xs:enumeration value="Rent"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="_PaymentAmount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="PRESENT_HOUSING_EXPENSE" type="PRESENT_HOUSING_EXPENSE"/>
	<xs:complexType name="SUMMARY">
		<xs:attribute name="_Amount" type="xs:anySimpleType"/>
		<xs:attribute name="_AmountType">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SubtotalLiabilitesMonthlyPayment"/>
					<xs:enumeration value="SubtotalLiabilitiesForRentalPropertyBalance"/>
					<xs:enumeration value="SubtotalLiabilitiesPaidByClosingNotIncludingSubjectPropertyLiensBalance"/>
					<xs:enumeration value="TotalMonthlyIncomeNotIncludingNetRentalIncome"/>
					<xs:enumeration value="SubtotalLiquidAssetsNotIncludingGift"/>
					<xs:enumeration value="SubtotalResubordinatedLiabilitesMonthlyPaymentForSubjectProperty"/>
					<xs:enumeration value="SubtotalLiabilitiesPaidByClosingNotIncludingSubjectPropertyLiensMonthlyPayment"/>
					<xs:enumeration value="SubtotalResubordinatedLiabilitiesBalanceForSubjectProperty"/>
					<xs:enumeration value="SubtotalLiabilitiesForRentalPropertyMonthlyPayment"/>
					<xs:enumeration value="TotalPresentHousingExpense"/>
					<xs:enumeration value="SubtotalSubjectPropertyLiensPaidByClosingMonthlyPayment"/>
					<xs:enumeration value="SubtotalOmittedLiabilitiesMonthlyPayment"/>
					<xs:enumeration value="TotalLiabilitesBalance"/>
					<xs:enumeration value="SubtotalSubjectPropertyLiensPaidByClosingBalance"/>
					<xs:enumeration value="SubtotalNonLiquidAssets"/>
					<xs:enumeration value="SubtotalOmittedLiabilitesBalance"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="SUMMARY" type="SUMMARY"/>
	<xs:complexType name="VA_BORROWER">
		<xs:attribute name="VACoBorrowerNonTaxableIncomeAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VACoBorrowerTaxableIncomeAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VAFederalTaxAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VALocalTaxAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VAPrimaryBorrowerNonTaxableIncomeAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VAPrimaryBorrowerTaxableIncomeAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VASocialSecurityTaxAmount" type="xs:anySimpleType"/>
		<xs:attribute name="VAStateTaxAmount" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="VA_BORROWER" type="VA_BORROWER"/>
</xs:schema>
